{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Event - {{ form.instance.slogan }}{% endblock %}

{% block content %}
<section id="edit">
    <div class="form">
        <h2>Edit Event</h2>
        <form method="POST" class="edit-form">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit">Edit</button>
        </form>
    </div>
</section>
{% endblock %}
